/* Created by: Stella S
 * Created on: March. 2022
 * This CSS file defines the style for index.html 
*/

body {
  background-color: MintCream;
}

h1 {
  color: hsl(0, 0%, 96%);
  padding: 10px;
}

p {
  color: hsl(0, 0%, 0%);
  padding: 20px;
}

img {
  padding: 10px;
}